{% extends 'pizza/base.html' %}
{% load crispy_forms_tags %}
{% block pizza %}
<div class="messages">
    {% if messages %}
        <div class="">
            <ul>
            {% for message in messages %}
                <p{% if message.tags %} class="text-center alert alert-{{ message.tags}}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Important:
                {%endif %}
                {{ message }}
                </p>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<div class="container mt-5">
<form action="{% url 'pizzas' %}" method="post" class="form-inline-blok bg-light p-3">
    {% csrf_token %}
    {{ formset.management_form }}
    {{crispy}}
    <ul class="d-flex justify-content-start gap-3">
        {% for form in formset %}
        <li>
            {{form|crispy}}
        </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Order Pizzas" class="btn btn-success mx-5">
</form>
</div>
{% endblock pizza %}